.App {
  padding: 50px;
  height: 100%;
}

.logo-wrapper {
  position: absolute;
  top: 10px;
  left: 5px;
  img {
    width: 100px;
  }
}

.biggest-title {
  color: rgb(108, 159, 151);
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-size: 50px;
  text-align: center;
  line-height: 100px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.flip {
  transform: scaleX(-1);
}

.simple-row {
  //min-height: 150px;
  border-bottom:  3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  position: relative;
  z-index: 2;
  display: flex;
  min-height: 100px;

  .image {
    width: 100%;
  }



  .column-title {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 10px;
    column-gap: 10px;

    border-right: 3px solid #353535;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  }

  .text-beauty {
    color: rgb(235, 159, 11);
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    font-size: 20px;
  }

  &::before {
    content: '';
    border-bottom: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}

.wrapper {
  display: inline-block;
  border: 3px solid #333333;
  font-size: 2.5rem;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  position: relative;

  &::before {
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}

.border-left {
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  margin-right: 20px;
  height: 100%;
  width: 3px;
  background-color: #333333;

}

.title {

}
.right-div {
  z-index: 10;
  position: relative;
  display: grid;
  align-items: center;
  column-gap: 50px;
  row-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.noborder {
  border: none;
}

.bigger-wrapper {
  display: flex;
  flex-flow: column;

}

.left-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  padding: 20px;
}