body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Roboto', sans-serif;
}

html, div, span, button, h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
}

#root {
    min-height: 100%;
    height: 100%;
}

.recording {
    width: 250px !important;
}